config MEM_LOG_LEVEL
    int "Memory log level"
    default 3

config MEM_TRACE
    bool "Trace where memory is being managed"
    default y if DEBUG
    help
      Trace where memory is being allocated, referenced, and dereferenced

config MEM_SMALL_BLOCK_SIZE
    int "Small memory block size in bytes"
    default 128
    help
      Size in bytes for small memory blocks.

config MEM_SMALL_BLOCK_COUNT
    int "Number of small memory blocks"
    default 16
    help
      Number of blocks in the small pool.

config MEM_MEDIUM_BLOCK_SIZE
    int "Medium memory block size in bytes"
    default 512
    help
      Size in bytes for medium memory blocks.

config MEM_MEDIUM_BLOCK_COUNT
    int "Number of medium memory blocks"
    default 8
    help
      Number of blocks in the medium pool.

config MEM_LARGE_BLOCK_SIZE
    int "Large memory block size in bytes"
    default 1024
    help
      Size in bytes for large memory blocks.

config MEM_LARGE_BLOCK_COUNT
    int "Number of large memory blocks"
    default 12
    help
      Number of blocks in the large pool.