source "$ZEPHYR_BASE/Kconfig.zephyr"

menu "ZDS"

config MAIN_LOG_LEVEL
    int "Main log level"
    default 3


menu "Flags"

config FLAGS_VALIDATION
    bool "Enable runtime flag validation"
    default n if DEBUG
    help
      Whenever a flag changes validate the flag rules to catch invalid states at runtime.

endmenu


menu "Unit Testing"

config UNIT_TESTING
    bool "Enable unit testing build modifications"
    default n
    help
      Changes the firmware to unit testing mode (e.g. exposing some static functions publicly).

endmenu


menu "Memory"

config MEM_LOG_LEVEL
    int "Memory log level"
    default 3

config MEM_SMALL_BLOCK_SIZE
    int "Small memory block size in bytes"
    default 128
    help
      Size in bytes for small memory blocks.

config MEM_SMALL_BLOCK_COUNT
    int "Number of small memory blocks"
    default 16
    help
      Number of blocks in the small pool.

config MEM_MEDIUM_BLOCK_SIZE
    int "Medium memory block size in bytes"
    default 512
    help
      Size in bytes for medium memory blocks.

config MEM_MEDIUM_BLOCK_COUNT
    int "Number of medium memory blocks"
    default 8
    help
      Number of blocks in the medium pool.

config MEM_LARGE_BLOCK_SIZE
    int "Large memory block size in bytes"
    default 1024
    help
      Size in bytes for large memory blocks.

config MEM_LARGE_BLOCK_COUNT
    int "Number of large memory blocks"
    default 12
    help
      Number of blocks in the large pool.

endmenu


menu "Event"

config EVENT_LOG_LEVEL
    int "Event log level"
    default 3

endmenu


endmenu
