source "$ZEPHYR_BASE/Kconfig.zephyr"

menu "ZDS"

config MAIN_LOG_LEVEL
    int "Main log level"
    default 3

config UNIT_TESTING
    bool "Enable unit testing build modifications"
    default n
    help
      Changes the firmware to unit testing mode (e.g. exposing some static functions publicly).


menuconfig GANTRY_FLAGS
    bool "Gantry Flags"
    default y
    help
      Enable Gantry Flags.

if GANTRY_FLAGS
    rsource "kconfig/Kconfig.flags"
endif


menuconfig GANTRY_MEMORY
    bool "Gantry Memory Management"
    default y
    help
      Enable Gantry memory management settings.

if GANTRY_MEMORY
    rsource "kconfig/Kconfig.memory"
endif


menuconfig GANTRY_EVENTS
    bool "Gantry Events"
    default y
    help
      Enable Gantry Events.

if GANTRY_EVENTS
    rsource "kconfig/Kconfig.events"
endif


menuconfig GANTRY_STOW
    bool "Gantry Stow"
    default y
    help
      Enable Gantry Stow.

if GANTRY_STOW
    rsource "kconfig/Kconfig.datastore"
endif


endmenu
