// ===================================
// Count Errors
// ===================================
@initialize:python@
@@
global errors
errors = 0

// ===================================
// Ensure identifiers are used
// ===================================
@api_check@
expression E;
position p;
@@
(
{% for f in alloc_functions + dealloc_functions %}
    {{ f.name }}({% if not f.single_param %}..., {% endif %}E)@p
    {% if not loop.last %}
|
    {% endif %}
{% endfor %}
)

@script:python@
e << api_check.E;
p << api_check.p;
@@
if "->" in e or "." in e or "[" in e or "(" in e:
    global errors
    errors += 1
    print(f"[{p[0].file}:{p[0].line}] POLICY ERROR: Used an expression ({e}) instead of an identifier. Static analysis requires the use of identifiers!")


// ===================================
// Check Memory management
// ===================================
@mem_leak exists@
identifier ptr;
type T;
position p1, p2;
@@

(
{% for f in alloc_functions %}
    {{ f.name }}({% if not f.single_param %}..., {% endif %}(T)&ptr)@p1
|
    {{ f.name }}({% if not f.single_param %}..., {% endif %}&ptr)@p1
|
    {{ f.name }}({% if not f.single_param %}..., {% endif %}ptr)@p1
    {% if not loop.last %}
|
    {% endif %}
{% endfor %}
)
...
{% for f in dealloc_functions %}
when != {{ f.name }}({% if not f.single_param %}..., {% endif %}(T)&ptr)
when != {{ f.name }}({% if not f.single_param %}..., {% endif %}&ptr)
when != {{ f.name }}({% if not f.single_param %}..., {% endif %}ptr)
{% endfor %}
return ...;@p2

@script:python@
ptr << mem_leak.ptr;
p1 << mem_leak.p1;
p2 << mem_leak.p2;
@@

file_name = p1[0].file
alloc_line = p1[0].line
leak_line = p2[0].line

global errors
errors += 1
print(f"[{file_name}] ERROR: Variable '{ptr}' allocated/referenced on line {alloc_line} was not dereferenced. Leaked at line {leak_line}")

// ===================================
// Check irq_lock/irq_unlock
// ===================================
@irq_lock_leak exists@
identifier key;
position p1, p2;
@@
key = irq_lock()@p1
...
when != irq_unlock(key)
return ...;@p2

@script:python@
key << irq_lock_leak.key;
p1 << irq_lock_leak.p1;
p2 << irq_lock_leak.p2;
@@
file_name = p1[0].file
lock_line = p1[0].line
return_line = p2[0].line

global errors
errors += 1
print(f"[{file_name}] ERROR: Variable '{key}' locked on line {lock_line} was not unlocked. Leaked lock at line {return_line}")

// ===================================
// Fail if errors were detected
// ===================================
@finalize:python@
@@
import sys
if errors > 0:
    sys.exit(1)
else:
    print("SUCCESS: No resource leaks detected.")